html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
	flex-grow: 1;
}

nav {
	padding: 0 4rem;
}

.footer {
	flex-shrink: 0;
}

.card-item {
	flex-basis: 25%;
}

.cards-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card-image {
	max-height: 280px;
	overflow: hidden;
}

.hide {
	display: none;
}

.mymodal {
	width: 50%;
	height: 70%;
}

.moovies {
	display: flex;
	flex-wrap: wrap;
}
